extends ../../base

include ../../mixins/forms/input

block content    
    include ../../inclusions/_gameVars
    main.main
        .building-form
            a(href='/buildings') Back To buildings
            h2.heading-secondary.ma-bt-lg Create building
            form.form.form--building(action='/submit-building-data' method="POST")
                .form__group
                    +formInput('Name', 'text', 'building-name', 'New building', true)

                .form__group
                    +formInput('Description', 'text', 'building-desc', 'building Description', true)

                .form__group 
                    +formSelect('Tamer Type', 'building-rank', true, tamerTypes)
                    
                .form__group
                    +formInput('Cost', 'number', 'building-cost', 200, true)

                .form__group 
                    +formInput('Creature Slots', 'number', 'building-cost', 10, true)

                .form__group 
                    +formSelect('Type', 'building-type', true, buildingTypes)
                    
                .form__group 
                    +formInput('Production Speed', 'number', 'building-production-speed', 60, true)

                .form__group 
                    - const locations = data.objects[0]
                    - locations.splice(0, 0, {name: 'None'})  
                    +formSelect('Location', 'building-location', true, data.objects[0].map(el => { return el.name }))



                .form__group.form__photo-upload
                    label.form__label(for='building-photo') Choose Photo
                    input.form__upload(type='file', accept='image/*', id='building-photo', name='building-photo')

                .form__group
                    button.btn.btn--green Create building

