extends ../../base

include ../../mixins/forms/input

block content
    include ../../inclusions/_gameVars    
    main.main
        .collar-form
            a(href='/collars') Back To Collars
            h2.heading-secondary.ma-bt-lg Create Collar
            form.form.form--collar(action='/submit-collar-data' method="POST")
                .form__group
                    +formInput('Name', 'text', 'collar-name', 'New collar', true)
                    
                .form__group
                    +formSelect('Rank', '', 'text', 'collar-rank', ranks)

                .form__group
                    +formSelect('Monster Type', '', 'text', 'collar-monster-type', monsterTypes)

                .form__group
                    +formInput('Description', 'text', 'collar-desc', 'collar Description', true)

                .form__group
                    +formInput('Charm Slots', 'number', 'collar-charm-slots', 3, true)


                .form__group 
                    p Stat Bonuses:
                    - let statAlias = stats.splice(1, stats.length - 1)
                    each stat in statAlias
                        label.form__label(for=`collar-stat--${stat.toLowerCase()}`)= `${stat}:` 
                        input(type="number", value="0", id=`collar-stat--${stat.toLowerCase()}`)

                .form__group 
                    p Attributes:
                    +formSelect('Attribute 1', '', 'collar-attribute1', true, attributes)
                    +formSelect('Attribute 2', '', 'collar-attribute2', true, attributes)


                .form__group.form__photo-upload
                    label.form__label(for='collar-photo') Choose Photo
                    input.form__upload(type='file', accept='image/*', id='collar-photo', name='collar-photo')

                .form__group
                    button.btn.btn--green Create Collar

