extends ../../base

include ../../mixins/forms/input

block content    
    include ../../inclusions/_gameVars
    main.main
        .item-form
            a(href='/items') Back To items
            h2.heading-secondary.ma-bt-lg Create item
            form.form.form--item(action='/submit-item-data' method="POST")
                .form__group
                    +formInput('Name', 'text', 'item-name', 'New item', true)
                    
                .form__group
                    +formInput('Description', 'text', 'item-desc', 'item Description', true)

                .form__group 
                    p Rank:
                    +formSelect('Rank', '', 'item-rank', true, ranks)

                .form__group 
                    p Type:
                    +formSelect('Type', '', 'item-type', true, itemTypes)

                .form__group 
                    p Attributes:
                    +formSelect('Attribute 1', '', 'item-attribute1', true, attributes)
                    +formSelect('Attribute 2', '', 'item-attribute2', true, attributes)

                .form__group 
                    p Effect:
                    +formSelect('Attribute 1', '', 'item-effect', true, effects)

                .form__group 
                    p Stat Bonuses:
                    - let statAlias = stats.splice(1, stats.length - 1)
                    each stat in statAlias
                        label.form__label(for=`item-stat--${stat.toLowerCase()}`)= `${stat}:` 
                        input(type="number", value="0", id=`item-stat--${stat.toLowerCase()}`) 

                .form__group.form__photo-upload
                    label.form__label(for='item-photo') Choose Photo
                    input.form__upload(type='file', accept='image/*', id='item-photo', name='item-photo')

                .form__group
                    button.btn.btn--green Create item

