script(src="./js/gameData/gameObject.js")
script(src="./js/gameData/alliance.js")
script(src="./js/gameData/building.js")
script(src="./js/gameData/player.js")
script(src="./js/gameData/stronghold.js")
script(src="./js/gameData/monster.js")