doctype html
html
    head
        block head
                include ./inclusions/_head-data
    
    body
        // HEADER
        include ./inclusions/_header

        // BODY
        block content
            h2 This is a placeholder heading

        // FOOTER
        include ./inclusions/_footer

    script(src="https://js.stripe.com/v3/")
    script(src=`/js/bundle.js`)
    include ./inclusions/_scripts