extends base

block content
    main.main 
        nav.nav
            ul
                li: a(href="/stronghold") Stronghold
                li: a(href="/shop") Shop 
                li: a(href="/building") Buildings 
                li: a(href="/monsterFusion") Monster Fusion 
                li: a(href="/battle") Battle
        h2= data.player.name 
        h2= data.enemy.name
    
