:root{
    --primary-color: rgb(88, 227, 255);
    --secondary-color: rgb(127, 51, 198);
    --tertiary-color: rgb(105, 255, 170);
    --small-font: 3rem;
    --medium-font: 5rem;
    --spacing-small: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-size: 6px;
}

main{
    min-height: 500px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

nav{
    display: flex;
    align-items: center;
}

a{
    font-size: var(--small-font);
    text-decoration: none;
    padding: var(--spacing-small);
}

img{
    width: 40px;
    height: 40px;
    font-size: var(--small-font);
    padding: var(--spacing-small);
}

span{
    margin: auto;
    font-size: var(--small-font);
    padding: var(--spacing-small);
}

section{
    margin-right: 4rem;
}

label{
    font-size: var(--small-font);
    padding: var(--spacing-small);
}

button{
    font-size: var(--small-font);
    padding: var(--spacing-small);
}

input{
    font-size: var(--small-font);
}

select{
    font-size: var(--small-font);
}

option{
    font-size: var(--small-font);
}

h2{
    font-size: var(--medium-font);
    padding: var(--spacing-small);
}

h3{
    font-size: 4rem;
}

p{
    font-size: var(--small-font);
}

li{
    list-style: none;;
    font-size: 3rem;
    margin: var(--spacing-small);
}

form{
    margin: var(--spacing-small);
}

.column{
    display: flex;
    flex-direction: column;
}

.circle{
    border-radius: 100%;
}

.alert--error{
    font-size: 2.5rem;    
}

.alert--success{
    font-size: 2.5rem;    
}

.error__msg{
    font-size: 2.5rem;
}

.header__logo{
    margin-top: auto;
    margin-bottom: auto;   /* height: 60px;
    width: 60px; */
}


.nav--user{
    margin-left: auto;
}

.nav__el{
    display: flex;
    padding: 0;
    font-size: var(--small-font);
    margin: var(--spacing-small);
}

.nav__user-img{
    font-size: var(--small-font);
}

.main{
    font-size: var(--small-font);
}

.main__container{
    margin: 3rem;
}

.user-view__form-container{
    margin: 3rem;
}

.stronghold--img{
    width: 200px;
    height: 200px;
}

.form__group{
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.login-form{
    margin: 3rem;
}

.card{
    margin: 4rem;
    padding: 4rem;
    background-color: var(--primary-color)
}

.card > div{
    margin: 2rem;
}

.card__group--section{
    display: flex;
}

.footer{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.footer__copyright{
    margin: var(--spacing-small);
    font-size: var(--small-font);
    text-align: end;
    flex: 1;
}

.footer__logo{
    flex: 1;
}