extends ../base

include .././mixins/cards/allianceCard

block content    
    main.main 
        a(href=`/createAlliance`) Create New Alliance
        .main__container 
            h3 Alliances
            each alliance in data.objects[0]
                +allianceCard(alliance)

