extends ../base

include .././mixins/cards/armorCard

block content    
    main.main 
        a(href=`/createArmor`) Create New Armor
        .main__container 
            h3 Armors
            each armor in data.objects[0]
                +armorCard(armor)

