extends ../base

include .././mixins/cards/buildingCard

block content    
    main.main 
        a(href=`/createBuilding`) Create New Building
        .main__container 
            h3 Buildings
            each building in data.objects[0]
                +buildingCard(building)

