extends ../base

include .././mixins/cards/charmCard

block content    
    main.main 
        a(href=`/createCharm`) Create New Charm
        .main__container 
            h3 Charms
            each charm in data.objects[0]
                +charmCard(charm)

