extends ../base

include .././mixins/cards/weaponCard

block content    
    main.main 
        a(href=`/createWeapon`) Create New Weapon
        .main__container 
            h3 Weapons
            each weapon in data.objects[0]
                +weaponCard(weapon)

