extends ../base

include .././mixins/allianceCard

block content    
    main.main 
        a(href=`/createAlliance`) Create New Alliance
        .main__container 
            h3 Alliances
            each alliance in objects
                +allianceCard(alliance)

