extends ../base

include .././mixins/allianceCard

block content    
    main.main 
        .main__container 
            h3 alliances
            each alliance in alliances
                +allianceCard(alliance)

