extends ../base

include .././mixins/armorCard

block content    
    main.main 
        a(href=`/createArmor`) Create New Armor
        .main__container 
            h3 Armors
            each armor in objects
                +armorCard(armor)

