extends ../base

include .././mixins/buildingCard

block content    
    main.main 
        a(href=`/createBuilding`) Create New Building
        .main__container 
            h3 Buildings
            each building in objects
                +buildingCard(building)

