extends ../base

include .././mixins/buildingCard

block content    
    main.main 
        .main__container 
            h3 buildings
            each building in buildings
                +buildingCard(building)

