extends ../base

include .././mixins/collarCard

block content    
    main.main 
        a(href=`/createCollar`) Create New Collar
        .main__container 
            h3 Collars
            each collar in objects
                +collarCard(collar)

