extends ../base

include .././mixins/itemCard

block content    
    main.main
        a(href=`/createItem`) Create New Item
        .main__container 
            h3 Items
            each item in objects
                +itemCard(item)

