extends ../base

include .././mixins/playerCard

block content    
    main.main 
        a(href=`/createPlayer`) Create New Player
        .main__container 
            h3 Players
            each Player in objects
                +playerCard(player)

