extends ../base

include .././mixins/weaponCard

block content    
    main.main 
        .main__container 
            h3 Weapons
            each weapon in weapons
                +weaponCard(weapon)

