extends ../base

include .././mixins/weaponCard

block content    
    main.main 
        a(href=`/createWeapon`) Create New Weapon
        .main__container 
            h3 Weapons
            each weapon in objects
                +weaponCard(weapon)

