div
    - const attributes = ['None', 'Fire', 'Water', 'Ice', 'Electric', 'Air', 'Light', 'Dark', 'Earth', 'Poison', 'Physical'];
    - const monsterTypes = ['None', 'Beast', 'Elemental', 'Avian', 'Amphian', 'Serpent', 'Brood', 'Divine', 'Daemon', 'Necro', 'Plant'];
    - const ranks = ['Pawn', 'Knight', 'Champion', 'Master'];
    - const tamerTypes = ['None', 'Beastmaster', 'Geomancer', 'Rogue', 'Mage', 'Psychic'];
    - const weaponTypes = ['Sword', 'Axe', 'Hammer', 'Bow', 'Crossbow', 'Gun', 'Whip', 'Mace', 'Staff', 'Great Sword', 'Lance', 'Knife']
    - const targets = ['Self', 'One', 'Ally', 'All Allies', 'Enemy', 'All Enemy', 'All']
    - const stats = ['None', 'Hp', 'Mp', 'Atk', 'Def', 'MAtk', 'MDef', 'Spd', 'Agl', 'CritDmg', 'CritRate', 'Luk', 'Acc', 'Ev']
    - const effects = ['None', 'Poison', 'Burn', 'Frozen', 'Stunned', 'Paralyzed', 'Undead', 'Immortal', 'Ethereal', 'KO', 'Berserk', 'Confused', 'Slow', 'Haste', 'Shell', 'Protect', 'Barrier', 'Float', 'Stone', 'Charmed']
    - const armorTypes = ['Helmet', 'Hat', 'Gloves', 'Boots','Shoes', 'Robe', 'Shield', 'Ring', 'Necklace']
    - const buildingTypes = ['Production', 'Breeding', 'Training', 'Summoning', 'Hatchery', 'Dungeon', 'Battle', 'Merchant', 'Crafting']
    - const itemTypes = ['Healing', 'Damaging', 'Stat Growth', 'Revive', 'Buff', 'De-buff', 'Recovery']
    - const dropTypes = [{name: 'Weapon'}, {name: 'Item'}, {name: 'Armor'}, {name: 'Collar'}, {name: 'Charm'}]